<h1>Assos#new</h1>
<%#= devise_error_messages! %>
<%= form_for @asso do |a| %>
  <%= a.label :name %><br />
  <%= a.text_field :name %><br />
  <%= a.label :register %><br />
  <%= a.text_field :register %><br />
  <%= fields_for @user do |u| %>
    <%= render partial: "devise/registrations/form", locals: { f: u } %>
  <% end %><br />
  <%= a.submit "Submit" %>
<% end %>

<%#= render "devise/shared/links" %>
