<h1>Assos#new</h1>
  <%#= devise_error_messages! %>
  <%= form_for @asso do |a| %>
    <%= a.label :name %>
    <%= a.text_field :name %>
    <%= fields_for @user do |u| %>
      <%= u.label :email %>
      <%= u.text_field :email %>
      <%= u.label :password %>
      <%= u.password_field :password %>
      <%= u.label :password_confirmation %>
      <%= u.password_field :password_confirmation %>
    <% end %>
    <%= a.submit "Submit" %>
  <% end %>

<%#= render "devise/shared/links" %>
