<h1>Asso#show</h1>
<p>This can be kinda dashboard</p>
<p><%= @asso.name %></p>
<p><%= @asso.register %></p>
<p><%= @user.email %></p>
<p><%= @location.address %></p>
<br />
<p><%= @asso.name %>'s events :</p>
